:root {
  --black: #000;
}

html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  scroll-padding-top: 60px;
}

.content-container {
  padding: 20px;
  max-width: 1024px;
  margin: auto;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.nav-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.nav-list-item {
  display: block;
  padding: 10px;
  width: 200px;
  text-align: center;
  border: 2px solid var(--transparent);
}

.nav-link {
  text-decoration: none;
  color: var(--white);
}

.small-screen-navbar {
  display: none;
}

.small-screen-navbar-element-container {
  display: none;
}

.Bigscreen-navbar {
  display: none;
}
