:root {
  --black: #000;
  --white: #fff;
  --darkearthy: #3e362e;
  --brown: #865d36;
  --lightbrown: #93785b;
  --lightestbrown: #ac8968;
  --lightgrey: #a69080;
}

html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  scroll-padding-top: 60px;
}

.content-container {
  padding: 20px;
  max-width: 1024px;
  margin: auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--lightestbrown);
}

.dark-background-container {
  background: var(--darker-brown);
  background: linear-gradient(
    34deg,
    var(--darkearthy) 15%,
    var(--brown) 44%,
    var(--lightbrown) 77%
  );
  color: var(--white);
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  background-color: var(--darkearthy);
}

.navbar-trigger {
  display: none;
}

.navbar-trigger:checked ~ .small-screen-navbar-element-container {
  display: block;
}

.nav-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.nav-list-item {
  display: block;
  padding: 10px;
  width: 200px;
  text-align: center;
  border: 2px solid var(--transparent);
}

.nav-list-item:hover {
  border: 2px solid var(--white);
  border-radius: 20px;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.small-screen-navbar {
  display: none;
}

.small-screen-navbar-element-container {
  display: none;
}

.Bigscreen-navbar {
  display: none;
}

.section-below-navbar {
  padding-top: 150px;
  min-height: calc(100vh - 150px);
}

.landing-image {
  width: 350px;
  height: 350px;
  margin: 45px;
  border-radius: 50%;
  display: block;
  align-self: start;
  background-image: url("./images/IMG_1293.jpg");
  background-position: center;
  background-size: cover;
}

.landing-text-container {
  max-width: 575px;
}

.heading-1 {
  font-size: 5rem;
}

.space-evenly-distributed-row-container {
  display: flex;
  justify-content: space-evenly;
}
